.gdpr.toasted-container.bottom-right {
  right: 20px;
  bottom: 20px;
}

.gdpr .gdpr-inner,
.gdpr .gdpr-inner.toasted {
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 10px;
  max-width: 270px;
  justify-content: space-evenly;
  padding: 16px;
  text-align: center;
}

.gdpr.toasted-container .gdpr-inner.toasted .action {
  margin: 0;
}

.gdpr .gdpr-inner.toasted .primary .action,
.gdpr .gdpr-inner.toasted.toasted-primary .action {
  color: #000;
}

/* test */
/* .gdpr.toasted-container {
  width: 270px !important;
} */
.gdpr .gdpr-inner.toasted {
  background-color: #00dee0 !important;
  color: #000 !important;
  width: 100% !important;
}
.action.ripple {
  padding: 14px !important;
  border-radius: 100px !important;
}

.action.ripple:hover {
  background-color: #002738 !important;
  color: #fff !important;
  text-decoration: none !important;
}

@media only screen and (max-width: 600px) {
  .gdpr.toasted-container.bottom-right {
    right: 0;
    bottom: 0;
    width: 100%;
  }

  .gdpr .gdpr-inner,
  .gdpr .gdpr-inner.toasted {
    max-width: none;
    flex-direction: row-reverse;
    border-radius: 0;
  }
}
