html,
body{
   
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time-dash{
    @apply whitespace-nowrap;
    @apply mr-4;
}

.time-dash:after{
    content: '—';
    @apply ml-4;
}

.animate-border {
    @apply relative;
}

.animate-border:after {
    content: '';
    @apply absolute;
    width: 0;
    height: 1px;
    @apply bg-gray-500;
    bottom: -1px;
    left: 0;
    transition: all 2s;
}

.animate-border.view-in:after{
    width: 100%;
}