html,
body{
   
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time-dash{
    @apply whitespace-nowrap;
    @apply mr-4;
}

.time-dash:after{
    content: '—';
    @apply ml-4;
    @apply float-right;
}

.animate-border {
    @apply relative;
}

.animate-border:after {
    content: '';
    @apply absolute;
    width: 0;
    height: 1px;
    @apply bg-gray-400;
    bottom: -1px;
    left: 0;
    transition: all 2s;
}

.animate-border.view-in:after{
    width: 100%;
}

.title h1,
.title h2,
.content h2{
    @apply flex;
    @apply text-3xl;
    @apply font-medium;
    @apply font-heading;
    @apply mb-14;
    @apply flex-col;
    @apply flex-wrap;
    @apply phone:flex-row;
    @apply items-center;
    @apply uppercase;
}

.title h1::before,
.title h2::before,
.content h2::before{
    content: url('~/assets/icon/dash.svg');
    height: 50px;
    width: 50px;
    @apply mr-4;
}

.content ul{
    @apply mb-7 text-gray-900 leading-relaxed list-disc ml-6;
}

.content ul li{
    @apply mb-2;
}

.content ul p{
    @apply mb-8 text-gray-900 leading-relaxed;
}

.agenda-content em{
    @apply font-bold whitespace-nowrap;
}

.agenda-content ol{
    @apply list-disc ml-6 mb-4;
}

.agenda-content ol li{
    @apply mb-2 phablet:mb-0;
}

.overlay:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: #000;
}

.gdpr.toasted-container.bottom-right{
    right: 20px;
    bottom: 20px;
}

.gdpr .gdpr-inner,
.gdpr .gdpr-inner.toasted{
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px;
    max-width: 13rem;
    justify-content: space-between;
}

.gdpr.toasted-container .gdpr-inner.toasted .action{
    margin: 0;
}

.gdpr .gdpr-inner.toasted .primary .action, 
.gdpr .gdpr-inner.toasted.toasted-primary .action{
    color: #fff;
}