.text-overflow{
    @apply whitespace-nowrap;
    @apply overflow-hidden;
    @apply overflow-ellipsis;
}

.title h1,
.title h2,
.content h2{
    @apply flex;
    @apply text-3xl;
    @apply font-medium;
    @apply font-heading;
    @apply mb-14;
    @apply flex-col;
    @apply flex-wrap;
    @apply phone:flex-row;
    @apply items-center;
    @apply uppercase;
}

.title h1::before,
.title h2::before,
.content h2::before{
    content: url('~/assets/icon/dash.svg');
    height: 50px;
    width: 50px;
    @apply mr-4;
}

.content ul{
    @apply mb-7 text-gray-900 leading-relaxed list-disc ml-6;
}

.content ul li{
    @apply mb-2;
}

.content ul p{
    @apply mb-8 text-gray-900 leading-relaxed;
}

.agenda-content em{
    @apply font-bold whitespace-nowrap;
}

.agenda-content ol{
    @apply list-disc ml-6 mb-4;
}

.agenda-content ol li{
    @apply mb-2 phablet:mb-0;
}

.overlay:after{
    content: '';
    @apply absolute;
    @apply w-full;
    @apply h-full;
    @apply opacity-70;
    @apply inset-0;
    background-color: theme('colors.black');
}

.swiper-button-prev,
.swiper-button-next{
    position: absolute;
    top: 50%;
    width: 70px;
    height: 70px;
    background: #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@screen tablet-wide{
  .swiper-button-prev,
  .swiper-button-next{
    width: 70px;
    height: 70px;
  }
}

.swiper-button-prev svg path,
.swiper-button-next svg path{
    @apply transition;
}

.swiper-button-prev:hover svg path,
.swiper-button-next:hover svg path{
    fill: theme('colors.primaryNormal');
}

.swiper-button-prev.swiper-button-disabled svg path,
.swiper-button-next.swiper-button-disabled svg path,
.swiper-button-prev.swiper-button-disabled:hover svg path,
.swiper-button-next.swiper-button-disabled:hover svg path{
    fill: theme('colors.gray.200');
}

.swiper-button-prev{
    left: 30px;
}

.swiper-button-next{
    right: 30px;
}
/* 
.swiper-pagination{
    position: absolute;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0,0,0);
    z-index: 10;
    overflow: hidden;
    font-size: 0;
    bottom: 0;
    left: 50%;
}

.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #000;
    @apply cursor-pointer;
    @apply rounded-full;
    @apply transition;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active-prev-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active-prev,
.swiper-pagination-bullet.swiper-pagination-bullet-active,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet.swiper-pagination-bullet-active-next{
    background-color: #0f0;
    @apply rounded-full;
}

.swiper-pagination-bullet-active{
    transform: scale(1.333);
    @apply bg-primaryNormal;
}

 */













  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 16px;
  }
  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }
  /* Common Styles */
  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  /* Bullets */
  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transform: scale(0.33);
    position: relative;
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
    transform: scale(1);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
    transform: scale(1);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
    transform: scale(0.66);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
    transform: scale(0.33);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
    transform: scale(0.66);
  }
  .swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
    transform: scale(0.33);
  }
  .swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    @apply bg-primaryNormal;
    opacity: 0.2;
    margin: 0 7px;
    flex: 0 0 auto;
  }
  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
  }
  .swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
  }
  .swiper-pagination-bullet:only-child {
    display: none !important;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    @apply bg-primaryNormal;
  }
  .swiper-vertical > .swiper-pagination-bullets, .swiper-pagination-vertical.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0px, -50%, 0);
  }
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
    display: block;
  }
  .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
  }
  .swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    display: inline-block;
    transition: 200ms transform, 200ms top;
  }
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
  .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms left;
  }
  .swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
    transition: 200ms transform, 200ms right;
  }
  /* Progress */
  .swiper-pagination-progressbar {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
  }
  .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-pagination-color, var(--swiper-theme-color));
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top;
  }
  .swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    transform-origin: right top;
  }
  .swiper-horizontal > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0;
  }
  .swiper-vertical > .swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-vertical, .swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0;
  }
  .swiper-pagination-lock {
    display: none;
  }
  